body, html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgb(28, 29, 35) 0%, rgb(58, 58, 61) 100%);
    overflow-x: hidden;
    overflow-y: hidden;
}

.homepage-text {
    margin-top: 25px;
    margin-left: 100px;
    font-size: larger;
}

.homepage-text, .nav-link {
    color: rgb(0, 204, 255);
}

.homepage-text {
    margin-top: 25px;
    margin-left: 100px;
    font-size: larger;
}

.col {
    margin-right: 100px;
}

.nav-link {
    margin-top: 25px;
    font-size: large;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    color: white;
}

.btn {
    display: flex;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-top: 80px;
    background-color: rgb(0, 204, 255);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transition: 0.3s;
    background-color: white;
    color: rgb(0, 204, 255);
}

.btn:active {
    background-color: white;
    color: rgb(0, 204, 255);
}

p {
    color: white;
    margin-bottom: 90px;
    margin-top: 80px;
    margin-right: 150px;
}
